<h1><%= @post.title %></h1>

<h3><%= @post.content %></h3>

<h3>Categories</h3>
    <% @post.categories.each do |category| %>
        <%= link_to category.name, category_path(category) %>
    <% end%>

<h3>Comments</h3>
    <% @post.comments.each do |comment| %>
        <p><%= comment.user.username + " says: " + comment.content %></p>
    <% end%>

<h3>Users</h3>
    <% @post.unique_users.each do |user| %>
        <p><%= link_to user.username, user_path(user) %></p>
    <% end%>

<h3>New Comment</h3>
    <%= form_for @post.comments.build do |f| %>
        <%= f.hidden_field :post_id, value: @post.id %>

        <%= f.collection_select :user_id, User.all, :id, :username %>
        <%= f.fields_for :user, User.new do |user_fields| %>
            <% user_fields.text_field :username%>
        <% end%>

        <%= f.label :content %>
        <%= f.text_area :content %>

        <%= f.submit %>
    <% end %>
