<h1><%= @post.title %></h1>

<h2><%= @post.content %></h2>

<% @post.categories.each do |category| %>
    <%= category.name %>
<% end %>


<% @post.comments.each do |comment| %>
    <%= comment.user.username %>'s message: <%= comment.content %>
<% end %>


<%= @post.users.distinct.each do |user| %>
    <%= link_to user.username, user_path(user) %>
<% end %>




<%= form_for @post.comments.build do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.collection_select :user_id, User.all, :id, :username, include_blank: "Choose a User" %>

    <%= f.fields_for :user, User.new do |user_fields| %>
    Username: <%= user_fields.text_field :username %>
    Email: <%= user_fields.text_field :email %>
    <% end %>

    <%= f.submit %>
<% end %>


<%# @post.users iterate through and print the names %>

<%# put a form on this page @post.comments.build equals @comment (It's the same as) %>

<%#  f.hidden_field :post_id, value: @post.id %>
<%# fields for (for the user), has to be associated with @comment.build_user %>

